#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none'};"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} &#215;
      %h3 Request Invitation
    .modal-body
      = f.error_notification
      = f.input :email, :placeholder => 'user@example.com'
      -# = f.input :opt_in, :label => false, :inline_label => 'Please send announcements.'
    .modal-footer
      = f.submit "Request Invitation", :class => "btn.btn-success", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
%div
  %section#intro.clearfix
    %br
      %h1  Software Quality Craft
      -# img src="http://placehold.it/460x310" width="460" height="310" alt="An image relevant to the copy" / -->
    %br
    %div
      %h2 Virtual Quality Consulting
      %ul
        %li Initially Ruby-on-Rails Development
        %li One-Time or Monthly Subscription
      %h2 Services
      %ul
        %li Specific Feedback on your Specific Software Project
        %li Overall Assessments of Software Quality Practices, Habits, Techniques, Technologies
        %li Testing Backlog Analysis/Recommendations
        %li Test Automation Code Reviews
        %li Quality-Related Pull Requests
    %div
      %h2 Why?
      %ul
        %li When Bug Reports and Test Cases are not enough!!
        %li Finish testing - can you tell?
        %li What is your Software Quality Pipeline?
        %br
      %span#call-to-action
        %p Want in? - click here
        %br
        =link_to "Take Survey", available_surveys_path
-# ###################################################################### 
-#  %article.testimonial
-#    <!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
-#    %div
-#      %h1 A Testimonial!
-#      %p TBD
-#  %section#info
-#    <!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
-#    %div
-#      %h1 More Information: #{link_to 'info@softwarequalitycraft.com', root_url}
