#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none'};"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} &#215;
      %h3 Request Invitation
    .modal-body
      = f.error_notification
      = f.input :email, :placeholder => 'user@example.com'
      -# = f.input :opt_in, :label => false, :inline_label => 'Please send announcements.'
    .modal-footer
      = f.submit "Request Invitation", :class => "btn.btn-success", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
%div
  %section#intro.clearfix
    %br
      %h1  Quality Aspect Assessment for Agile Software Projects
      -# img src="http://placehold.it/460x310" width="460" height="310" alt="An image relevant to the copy" / -->
    %br
    %div
      %h1 Why?
      %ul
        %li When Bug Reports and Test Cases are not enough
        %li Improve your Agile Software Quality Craftmanship
        %li Provide Independent Software Quality Program Analysis
      %h1 How?
      %ul
        %li One-time Assesments
        %ul
          %li Red/Yellow/Green Report Card
        %li On-going Monitoring and Alerts
    %div
      %h1 Services
      %ul
        %li Overall Software Quality Practices (One-Time Assessment)
        %li Review of Software Quality Assurance Habits, Techniques, Technologies
        %li Software Quality Pipeline Creation
        %li Testing Backlog Analysis/Recommendations/Creation
        %li Test Automation Code Reviews
        %li Quality-Related Pull Requests
        %li Specific Feedback on your Specific Software Project
        %br
      %span#call-to-action
        %p Want in? - click here
        %br
        =link_to "Take Survey", available_surveys_path
  %article.testimonial
    -#<!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
    %div
      %h1 A Testimonial!
      %p TBD
  %section#info
    -#<!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
    %div
      %h1 More Information
      %p 
      =link_to "info@softwareQualityCraft.com"
